<style>
	.message-content {
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 21px;
	}
</style>

<div class="message-content">
	<p>Welcome to Dreamwall, {{name}}</p>
	<p>To gain access to the plataform use the credentials below</p>
	<p><strong>Login:</strong> {{email}}</p>
	<p><strong>Password:</strong> {{password}}</p>
	<p>You can change you password later after signing into your account on your <strong>account settings.</strong></p>
	<p>
		Thanks!<br />
		<strong>Dreamwall Team</strong>
	</p>
</div>
